.block_reporttiles .dashboard_tiles {
    display: inline;
    text-align: center;
    width: 92%;
    float: left;
    padding: 15px 4%;
    min-height: 85px;
}
.block_reporttiles .dashboard_reporttile_container{
    float: left;
    width: 100%;
    min-height: 115px;
    padding-bottom: 10px;
}
.block_reporttiles span.dashboard_tiles_details {
    width: 31%; /*code by sreekanth*/
    text-align: left;
    margin-right: 2%;
    padding: 8px 0px;
}
.block_reporttiles span.dashboard_tiles_img {
    float: right;
}
.block_reporttiles .dashboard_reporttile_container .reporttile_highlighter{
    position: absolute;
    bottom: 0px;
    left: 0px;
	background: #12445f;
    min-height: 10px;
    max-height: 10px;
    width: 100%;
}
@media(max-width: 767px){
    .block_reporttiles span.dashboard_tiles_details {
        width: 100%;
        text-align: center;
    }
    .block_reporttiles span.dashboard_tiles_img {
        width: 100%;
        margin-right: 0px;
        text-align: center;
    }
}

/* .block_reporttiles span.dashboard_tiles_details span{font-size: 18px;} */
.block_reporttiles span.dashboard_tiles_details > div{font-size: 14px;}

/*css for other themes starts here*/
body.path-blocks-reportdashboard .block.block_reporttiles .card-block{padding: 0px;}
/*css for other themes ends here*/

.block_reporttiles span.reporttile_title{
    font-size: 15px;
    font-weight: 800;
    float: left;
    margin-top: 12px;
}
.block_reporttiles div.tiles_information{
	clear: both;
    text-align: left;
    margin-top: 15px;
    float: left;
    width: 100%;
}
.block_reporttiles div.dashboard_tiles > span{
    /*vertical-align: -webkit-baseline-middle;*/
    float: left;
    width: 100%;
}